In [11]:
import json
import pandas as pd
import glob
import os

In [2]:
path = 'data/02-processed/event/msg/*.json'  # Path to the directory containing the JSON files

# Find all file paths matching the pattern
file_paths = glob.glob(path)

In [3]:
file_paths

['data/02-processed/event/msg/5d031b25-8dc1-4e66-a5ee-eefcf1ab1f71_2023-06-26_.json',
 'data/02-processed/event/msg/52ccabde-65ce-4cd0-a398-b2a5174339bb_2023-06-26_.json',
 'data/02-processed/event/msg/f1f774c2-95e9-4525-bb5c-ffbdcfdee98e_2023-06-26_.json',
 'data/02-processed/event/msg/2f92eb9b-9665-47bc-a6df-03d91ed3edea_2023-06-26_.json']

In [4]:
# Read each file and concatenate the data into a single DataFrame
dfs = []
for file_path in file_paths:
    with open(file_path, 'r') as file:
        lines = file.readlines()
        json_data = [json.loads(line) for line in lines]
        df = pd.DataFrame(json_data)
        dfs.append(df)

In [5]:
# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Now you can work with the combined DataFrame
combined_df.head()

,id_cliente,id_funcionario,id_item,data_aluguel,data_devolucao,id_evento,has_id_client,has_id_funcionario,has_id_item
0,1,1,1,2023-06-23,2023-06-30,Aluguel,True,True,True
1,1,1,1,2023-06-23,2023-06-30,Aluguel,True,True,True
2,1,1,1,2023-06-23,2023-06-30,Aluguel,True,True,True
3,1,1,1,2023-06-23,2023-06-30,Aluguel,True,True,True

In [12]:
os.makedirs('./data/03-enhanced/year=2023/month=03/', exist_ok=True)
combined_df.to_parquet(f'./data/03-enhanced/year=2023/month=03/file.parquet')